*{
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: rgb(20, 108, 148);
  }

.navbar-brand{
    color: rgb(246, 241, 241);
}
.nav-link.active{
    color: rgb(246, 241, 241);
}
.nav-link{
    color:  rgb(246, 241, 241);
}
  
